#topbar.navbar.navbar-fixed-top
    .navbar-inner
        .container
            a#logo.brand(href='/') logo
            button#logout.btn.btn-inverse Sign out 
            a#name.brand= name
#content
    hi here
