!!! 4
html(lang='en')
  head
    title= title

    script(src='/lib/jquery/jquery.js', type='text/javascript')

    //!= css('lib/bootstrap/bootstrap')
    //if IE 6
        != css('lib/bootstrap-ie6')

    != js('main')
    != css('main')
 body
    #popup wait...
    #body.container!= body
